<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<ion-icon name="stats-chart"></ion-icon>
			Metrics
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Tab 2</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-refresher slot="fixed"
				   (ionRefresh)="loadHabits($event)">
		<ion-refresher-content pullingIcon="arrow-down-circle-outline"
							   pullingText="Pull to refresh"
							   refreshingSpinner="circles"
							   refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<p class="center-text">Pull to Refresh</p>
	@if (weightRecords.length > 0) {
	@for (item of weightRecords; track item) {
	<ion-card>
		<ion-card-header>
			<ion-card-title>Weight</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ul>
				<li>Weight: {{item.currentWeight}}</li>
				<li>Logged: {{item.timestamp | date: 'medium' }}</li>
			</ul>
		</ion-card-content>
	</ion-card>
	}
	}
	@if (weightRecords.length == 0)
	{
	<ion-card>
		<ion-card-header>
			<ion-card-title>No Weigh-Ins Added Yet</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			You have not added any weigh-ins. Start by adding a weight record to track your progress.
		</ion-card-content>
		<ion-button expand="block"
					routerLink="/tabs/tab1">
			Log Weight
		</ion-button>
	</ion-card>
	}
</ion-content>