<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<ion-icon name="stats-chart"></ion-icon>
			Weight Progress
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Weight Progress</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-refresher slot="fixed"
				   (ionRefresh)="loadHabits($event)">
		<ion-refresher-content pullingIcon="arrow-down-circle-outline"
							   pullingText="Pull to refresh"
							   refreshingSpinner="circles"
							   refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<p class="center-text">Pull to Refresh</p>
	<!-- Chart -->
	<ion-card>
		<ion-list>
			<ion-item>
				<ion-select label="Days to Load"
							label-placement="fixed"
							placeholder="1 Week"
							Weight Progress
							(ionChange)="onDaysToLoadChange($event)">
					<ion-select-option value="1">Today</ion-select-option>
					<ion-select-option value="2">2 days</ion-select-option>
					<ion-select-option value="3">3 days</ion-select-option>
					<ion-select-option value="7">1 week</ion-select-option>
					<ion-select-option value="14">2 weeks</ion-select-option>
					<ion-select-option value="31">1 Month</ion-select-option>
					<ion-select-option value="93">3 Months</ion-select-option>
					<ion-select-option value="186">6 Months</ion-select-option>
					<ion-select-option value="365">1 Year</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>
		<ion-card-content>
			<div style="display: block;">
				<canvas baseChart
						[data]="lineChartData"
						[labels]="lineChartData.labels"
						[options]="lineChartOptions"
						[type]="lineChartType"
						[legend]="lineChartLegend">
				</canvas>
			</div>
		</ion-card-content>
	</ion-card>
	<!-- Chart End -->
</ion-content>