<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<ion-icon name="home"></ion-icon>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	@if (!isTutorialComplete)
	{
	<ion-card>
		<ion-card-header>
			<ion-card-title>🧠 How do I do this?</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Just enter your weight, hit submit, and move on with your life! It's that simple.
		</ion-card-content>
		<ion-button fill="clear"
					(click)="closeCard()">Got It</ion-button>
	</ion-card>
	}

	<div class="form-wrapper">
		<form [formGroup]="weightLoggerForm"
			  (ngSubmit)="logWeight()">
			<ion-list>
				<ion-list>
					<ion-item>
						<ion-input label="Enter Current Weight 🙂"
								   labelPlacement="floating"
								   type="number"
								   placeholder="150"
								   name="currentWeight"
								   formControlName="currentWeight"
								   required="required"></ion-input>
					</ion-item>
				</ion-list>
			</ion-list>
			<ion-button expand="block"
						type="submit"
						[disabled]="weightLoggerForm.invalid">Log My Weight</ion-button>
		</form>
	</div>
</ion-content>