.center-content
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

	& > form
	{
		width: 100%;
	}
}

.alert-red .alert-wrapper
{
	--background: #ffcccc;
	--color: #ff0000;
}

.alert-green .alert-wrapper
{
	--background: #ccffcc;
	--color: #008000;
}